.container{
    max-width: 120rem; //1200 px
    margin: 8rem auto; //center
    background-color: var(--color-grey-light-1);
    box-shadow: var(--shadow-dark);

    //testing purposes
    min-height: 50rem;

}

.header{
    font-size: 1.4rem;
    height: 7rem;
    background-color: #fff;
    border-bottom: 1px solid var(--color-grey-light-2);
    display:flex;
    justify-content: space-between;
    align-items: center;

}

.content{
    display: flex;

}

.sidebar{
    background-color: var(--color-grey-dark-1);

    flex: 0 0 18%; //grow shrink basis

}

.hotel-view{
    background-color: #fff;
    flex: 1; //use as much space as it can
    

}